browser/
build/
coverage/
examples/*.js
node_modules/
yarn.lock
.nyc_output
*.map
docs/_site
.vscode/
lib/compiler/passes/bytecodefile.js
lib/compiler/passes/bytecodes.md
lib/compiler/passes/generate-js.new.js
test/cli/fixtures/lib.js
